name: Pipeline Scan and Veracode Fix
on: workflow_dispatch

permissions:
  contents: read
  pull-requests: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-java@v3
      with:
        distribution: 'zulu'
        java-version: 8
    - name: Cache Maven packages
      uses: actions/cache@v3
      with:
        path: ~/.m2
        key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
    - name: Build with Maven
      working-directory: app
      run: mvn clean package

    - uses: actions/upload-artifact@v4
      with:
        name: verademo.war
        path: app/target/verademo.war
        
  pipeline_scan:
      needs: build
      runs-on: ubuntu-latest
      name: Veracode pipeline scan
      steps:
        - name: checkout repo
          uses: actions/checkout@v3

        - name: get archive
          uses: actions/download-artifact@v4
          with:
            name: verademo.war
        - name: pipeline-scan action step
          id: pipeline-scan
          uses: veracode/Veracode-pipeline-scan-action@v1.0.12
          with:
            vid: ${{secrets.VERACODE_API_ID}}
            vkey: ${{secrets.VERACODE_API_KEY}}
            file: "verademo.war" 
            fail_build: false
        - uses: actions/upload-artifact@v4
          with:
            name: results.json
            path: ./results.json

  veracode-fix:
    runs-on: ubuntu-latest
    needs: pipeline_scan
    name: Veracode Fix
    steps:
      - name: checkout repo
        uses: actions/checkout@v3

      - name: get flaw file
        uses: actions/download-artifact@v4
        with:
          name: results.json
          
      - name: Create fixes from static findings
        id: convert
        uses: Veracode/veracode-fix@main
        with:
          inputFile: results.json
          vid: ${{secrets.VERACODE_API_ID}}
          vkey: ${{secrets.VERACODE_API_KEY}}
          source_base_path_1: "src/main/com/veracode/verademo/controller/"
          # source_base_path_2: "WEB-INF:src/main/webapp/WEB-INF"
          language: java
          prComment: false
          fixType: batch
